.character__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: $size-l;
    width: $main-content-width;
    margin: 0 auto;
    padding-bottom: $size-l;
}