// Sizes
$main-content-width: 75%;
$size-xs: 4px;
$size-s: 8px;
$size-m: 16px;
$size-l: 32px;
$size-xl: 64px;

// Colors
$background-color: #171311;
$primary-color: #35afc7;
$over-primary-color: white;
$secondary-color: white;
$over-secondary-color: #171311;
$terciary-color: #7dc250;
$placeholder-inputs-color: #9b9b9b;

// Font
$font-family: 'Orbitron', sans-serif;
$font-bold: 700;